*~
*#
.#*
config.yml
clean-data/*
copy_pris.sh
copy_hpc.sh
ext-data/*
imptf-models/*
ms-env/*.txt
ms-env/*.pdf	
nohup.out
phylo-env/*.txt
phylo-env/*.RData
raw-data/*
timestamp.yml
ms-env/*.pdf
ms-env/*.RDS
